* {
  margin: 0;
}

.app {
background-color: #fafafa;
/* background-color: lightcoral; */
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.app__headerImage {
  width: 120px;
  object-fit: contain;
}

.app__headerProgress {
  width: 100%;
  position: fixed !important;
  top: 83px !important;
}

.app__newPost{
  display: flex;
  align-items: center;
}

.app__newPost>.MuiSvgIcon-root{
  padding-left: 10px;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}
